*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #0C1B33;
}

ul{
    margin-top: 10px;
}
li>a{
    text-decoration: none;
 font-size: 15px;
 color: white;
 
}

.banner{

}

.banner-img{
    height: 500px;
    width: 100%;
}

